<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
<br>
<div class="container">
  <h2>Books List</h2>
<br>
<app-add-book>
  
</app-add-book>
<br>
<br>
<table class="table" id="tableBooks">
  <thead>
    <tr>
      <th scope="col">Name </th>
      <th scope="col">Author Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   <tr  *ngFor ="let book of data">
    <td>{{ book.bookName }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.categoryName }}</td>
    <td>{{ book.price }}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="deleteBook(book)"> Delete</button>
    </td>
 
    

   </tr>
  </tbody>
</table>
  </div>
